html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}


body {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas:
	"head head side"
	"main main main"
	"main main main"
	"foot foot foot";
}

.head-content {
	grid-area: head;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	padding: 15px;
	h1 {
		font-size: 4em;
		padding: 20px;
	}
	h2 {
		font-size: 3.5em;
		padding: 15px;
	}
	.responsive-link {
		display: none;
	}
}

.nav-content {
	grid-area: side;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	img {
		padding: 15px;
	}
}

.work-content {
	grid-area: main;
	padding: 15px;
	h2 {
		padding-top: 10px;
		font-size: 3em;
		text-align: center;
	}
	ul {
		li {
			list-style: none;
			margin: 75px;
			@include box;
			@include linkstyle;
			width: auto;
			a {
				text-decoration: none;
				font-size: 1.5em;
				div {
					display: none;
				}
			}
			a:hover {
				background: black;
				color: white;
				transition: 1s;
				div, img {
					padding: 5px;
					display: block;
					transition: 1s;
					margin: auto;
				}
			}
			p {
				text-align: right;
				#analytics {
					text-decoration: underline;
					font-size: 1em;
					color: blue;
				}
			}
		}
	}
}

.footer-content {
	grid-area: foot;
	text-align: center;
	padding: 20px;
	a {
		text-decoration: none;
	}
	a:visited {
		color: none;
	}
}


// smaller screen size on desktop
@media screen and (max-width: 1024px) {
	.head-content {
		grid-area: head;
		background: white;
		padding: 10px;
		h1 {
			text-align: center;
			font-size: 2em;
			padding: 10px;
		}
		h2 {
			text-align: center;
			font-size: 1.5em;
			padding: 10px;
		}
		.responsive-link {
			display: inline;
			a {
				text-decoration: none;
				color: black;
			}
		}
	}
	.nav-content {
		grid-area: head;
		background: white;
		img {
			display: none;
		}
	}
	.work-content {
		grid-area: main;
		padding: 10px;
		h2 {
			padding-top: 8px;
			font-size: 1.5em;
			text-align: center;
		}
		ul {
			li {
				list-style: none;
				margin: 75px;
				@include box;
				@include linkstyle;
				width: auto;
				a {
					text-decoration: none;
					font-size: 1.5em;
					div, img {
						display: block;
						margin: auto;
						padding: 5px;
					}
				}
				a:hover {
					background: black;
					color: white;
					div, img {
						display: block;
						margin: auto;
						padding: 5px;
					}
				}
				p {
					text-align: right;
					#analytics {
						text-decoration: underline;
						font-size: 1em;
						color: blue;
					}
				}
			}
		}
	}
}


// mobile devices
@media screen and (max-width: 510px) {
	.head-content {
		grid-area: head;
		background: white;
		padding: 10px;
		h1 {
			text-align: center;
			font-size: 2em;
			padding: 10px;
		}
		h2 {
			text-align: center;
			font-size: 1.5em;
			padding: 10px;
		}
		.responsive-link {
			display: inline;
			a {
				text-decoration: none;
				color: black;
			}
		}
	}
	.nav-content {
		grid-area: head;
		background: white;
		img {
			display: none;
		}
	}
	.work-content {
		grid-area: main;
		padding: 10px;
		h2 {
			padding-top: 8px;
			font-size: 1em;
			text-align: center;
		}
		ul {
			li {
				list-style: none;
				margin: 25px;
				@include box;
				@include linkstyle;
				width: auto;
				a {
					text-decoration: underline;
					div, img {
						display: none;
					}
				}
				a:hover {
					background: black;
					color: white;
					div, img {
						display: none;
					}
				}
				p {
					text-align: right;
				}
			}
		}
	}

}