@mixin box{
	background: #1fc8db;
	border: .5px solid black;
	padding: 20px;
	border-radius: 10px;
}

@mixin linkstyle{
	// font-size: 2em;
	text-decoration: none;
	color: black;
	a:visited{
		text-decoration: none;
		color: black;
	}
}
